@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .heroButton {
       @apply px-6 py-2 mx-px border border-[#434242] rounded-full uppercase text-xs tracking-widest text-[#2B2B28] transition-all hover:border-[#FF6000]/50 hover:text-[#FF6000]/50
    }

    .contactInput {
        @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[#FF6000] text-[#2B2B28] placeholder-[#2B2B28] transition-all focus:border-[#FF6000]/40 focus:text-[#454545]/40 hover:border-[#454545]/40
    }
}